body {
    background-size: cover;
  }
  
  .scoreboard {
    width: 620px;
    height: 100vh;
    background-color: #00000065;
    color: #21ff08;
    position: fixed;
    inset: 0 0 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    overflow: auto;
  }
  
  .scoreboard h1 {
    padding: 5px;
    border: solid black;
    color: yellow;
    background-color: rgb(20, 20, 40);
    height: 50px;
    text-align: center;
  }
  
  .screen {
    border: solid black;
    height: 95vh;
    width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
  }
  
  .hero {
    margin: 10px;
    border: solid white;
    height: 15vh;
    display: flex;
    justify-content: center;
  }
  
  .hero img {
    height: 100%;
  }